# Ses İşleme & Transkripsiyon
# openai-whisper yerine daha gelişmiş olan whisperx kullanılıyor.
whisperx @ git+https://github.com/m-bain/whisperx.git
faster-whisper
yt-dlp
ffmpeg-python

# Web Arayüzü
streamlit

# LangChain Çekirdek ve Entegrasyonlar
langchain
langchain-community
langchain-core
langchain-neo4j
langchain-ollama
langchain-huggingface

# Veritabanları
chromadb
neo4j

# LLM ve GPU Desteği
# Artık bu ağır kütüphanelere gerek yok, Ollama kullanılıyor.
# transformers
# accelerate
# bitsandbytes
# torch
# sentence-transformers
openai # Bu, langchain-neo4j'nin bir alt bağımlılığı için gereklidir

# Döküman İşleme
langchain_text_splitters